sonicnet.js/emoticons/.idea/
sonicnet.js/.idea/
MouseController/.vs/config/applicationhost.config
MouseController/.vs/restore.dg
MouseController/src/MouseController/bin/Debug/netcoreapp1.0/MouseController.runtimeconfig.dev.json
MouseController/src/MouseController/obj/Debug/netcoreapp1.0/.IncrementalCache
MouseController/src/MouseController/obj/Debug/netcoreapp1.0/dotnet-compile-csc.rsp
MouseController/src/MouseController/obj/Debug/netcoreapp1.0/dotnet-compile.rsp
